<%- layout('layouts/main.ejs') %>

<div style="position: relative; text-align: center; clip-path: inset(0 0 50% 0);">
    <img class="d-block w-100" style="filter: brightness(0.4); clip-path: inset(50% 0 0 0); transform: translateY(-50%);" src="/img/disponibilidad.jpg" alt="Disponibilidad">
    <h1 class="text-center display-4 font-weight-bold text-light" style="position: absolute; top: 25%; left: 50%; transform: translate(-50%, -50%);">Disponibilidad</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 px-md-0 order-2">
            <div class="room-item">
                <div class="row">
                    <div class="col-12 col-md-3 pr-0">
                        <img src="/img/ejecutiva" alt="Ejecutiva" class="img-fluid img-thumbnail room-image">
                    </div> 
                    <div class="col-12 col-md-9">
                        <h4 class="title">Ejecutiva</h4> 
                        <p class="text-justify description">Confortable habitación con 1 cama king, con balcón vista al jardín o a la calle, con los servicios de aire acondicionado, TV por cable, Wi-Fi gratis, baño completo con ducha, amenidades de baño, secadora de cabello a solicitud en recepción.</p>
                        <ul class="list-inline mt-2 text-center text-md-left">
                            <li class="list-inline-item"><span class="font-weight-bolder h5 pr-2 border-right">15 m²</span></li>
                            <li class="list-inline-item"><span data-toggle="tooltip" title="" class="font-weight-bolder h5 pr-2" data-original-title="Maximo de personas 2"><i class="fas fa-user-friends"></i></span></li> 
                            <li class="list-inline-item"><span data-toggle="tooltip" title="" class="font-weight-bolder h5 pr-2" data-original-title="1 cama king"><i class="fas fa-bed"></i></span></li> 
                            <li class="list-inline-item"><span data-toggle="tooltip" title="" class="font-weight-bolder h5 pr-2" data-original-title="Vista al jardin"><i class="fas fa-eye"></i></span></li> 
                            <li class="list-inline-item"><span data-toggle="tooltip" title="" class="font-weight-bolder h5 pr-2" data-original-title="Habitacion libre de humo de tabaco"><i class="fas fa-smoking-ban"></i></span></li>
                        </ul>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>