<%- layout('layouts/main.ejs') %>

<div style="position: relative; text-align: center;">
    <img class="d-block w-100" style="filter: brightness(0.4); clip-path: inset(25% 0 0 0); transform: translateY(-25%);" src="/img/rooms.jpg" alt="Habitaciones">
    <h1 class="text-center display-4 font-weight-bold text-light" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">Habitaciones</h1>
</div>
<!-- Nuestras habitaciones -->
<div class="container" style="background-color: rgba(255, 255, 255, 0.301);">
    <div style="background-color: rgba(255, 255, 255, 0.822);">
        <hr>
        <h2 class="text-center font-weight-normal mb-3" style="letter-spacing: 2px;">Nuestras habitaciones</h2>
        <p class="text-center font-weight-bold">Conoce nuestras exclusivas habitaciones</p>
        <hr>
    </div>
    <div class="container bg-white my-5">
        <!-- EJECUTIVA -->
        <div class="row room-list-item">
            <div class="col-12 col-md-4 mt-3 mb-3">
                <img class="img-fluid w-100 h-100" src="/img/ejecutiva.jpeg" alt="Habitación ejecutiva">
            </div>
            <div class="col-12 col-md-8 mt-3 mb-3">
                <div class="room-list-content mr-3 ml-3">
                    <h3>EJECUTIVA</h3>
                    <p class="text-justify">Confortable habitación con 1 cama king, con balcón vista al jardín o a la calle, con los servicios de aire acondicionado, TV por cable, Wi-Fi gratis, baño completo con ducha, amenidades de baño, secadora de cabello a solicitud en recepción.</p>
                    <h4>Amenidades</h4>
                    <ul class="list-unstyled">
                        <li><p><i class="fas fa-bed"></i> Camas: 1 cama king</p></li> 
                        <li><p><i class="fas fa-binoculars"></i> Vista: Vista al jardin</p></li> 
                        <li><p><i class="fas fa-users"></i> Capacidad: 2 Personas</p></li>
                    </ul>
                    <hr>
                    <div class="text-right">
                        <a class="btn btn-outline-dark" href="/reservar">RESERVAR</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- DOBLE EJECUTIVA -->
        <div class="row room-list-item">
            <div class="col-12 col-md-4 mt-3 mb-3">
                <img class="img-fluid w-100 h-100" src="/img/ejecutiva_doble.jpeg" alt="Habitación ejecutiva">
            </div>
            <div class="col-12 col-md-8 mt-3 mb-3">
                <div class="room-list-content mr-3 ml-3">
                    <h3>EJECUTIVA DOBLE</h3>
                    <p class="text-justify">Confortable habitación amplia con 2 camas matrimoniales, con balcón vista al jardín o a la calle, con los servicios de aire acondicionado, TV por cable, Wi-Fi gratis, baño completo con ducha, amenidades de baño, secadora de cabello a solicitud en recepción.</p>
                    <h4>Amenidades</h4>
                    <ul class="list-unstyled">
                        <li><p><i class="fas fa-bed"></i> Camas: 2 camas matrimoniales</p></li> 
                        <li><p><i class="fas fa-binoculars"></i> Vista: Vista al jardin</p></li> 
                        <li><p><i class="fas fa-users"></i> Capacidad: 4 Personas</p></li>
                    </ul>
                    <hr>
                    <div class="text-right">
                        <a class="btn btn-outline-dark" href="/reservar">RESERVAR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>
