<%- layout('layouts/main.ejs') %>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="d-flex align-items-center justify-content-center">
                <div class="caption text-center">
                    <h1>Habitaciones</h1>
                </div>
            </div>
            <img class="d-block w-100" style="filter: brightness(0.5);" src="/img/rooms.jpg" alt="Habitaciones">
        </div>
    </div>
</div>
<div class="container-fluid">
    
</div>